@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Globális beállítások */
body {
    margin: 0;
    padding: 0;
    /* Teljes képernyő kitöltése */
    height: 100vh;
    width: 100vw; 
    /* Vászon központosítása */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* FC Stílus: Sötét, semleges háttér */
    background-color: #1A1A1A; 
    
    /* Elrejti a görgetősávokat */
    overflow: hidden;
    /* Modern betűtípus */
    font-family: 'Inter', sans-serif;
}

/* Vászon stílusa */
#gameCanvas {
    /* Éles, finom kontúr az FC hangulathoz */
    border: 1px solid #333333; 
    /* Mély árnyék a kiemelésért */
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5); 
    
    max-width: 100vw;
    max-height: 100vh;
}

/* A Teljes képernyő gomb elrejtése */
#fullscreenButton {
    display: none;
}